
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c8796f48a3ec4af9b9f05dccf8be8ce7
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress