
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=ebf270d142b3ea94aab50d7efadd9118
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress